fastapi==0.116.1
uvicorn

streamlit==1.47.1
requests==2.32.4

python-dotenv==1.1.1
pydantic==2.11.7

langgraph==0.6.5
langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.30
langchain-community==0.3.27
langchain-pinecone==0.2.11

pinecone==7.3.0

openai==1.99.9

langsmith==0.4.15
