fastapi
uvicorn

langgraph
langchain
langchain-core
langchain-openai

python-dotenv

pydantic

pinecone

langsmith
langgraph>=0.2.0
langchain-core>=0.3.0
langchain-openai>=0.3.0
langchain-pinecone
openai>=1.0.0

streamlit
requests